doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Hello Pug!
  body
    h1 Pug — node template engine
  #container
    p
      | Pug is a terse and simple templating language with a
      | strong focus
      | on performance and powerful features.
    p You are amazing!
