doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Hello Pug!

  body
    .row
      .small-12.columns

        h1 Pug — node template engine

        //- This is invisible comment
        #container
          - settings = { foo: 'bar'}

          include partials/amazing.pug

          // This is visible comment
          p(data-foo='agreement'
            data-bar)
            | Pug is a terse and simple template language with a
            | strong focus
            | on performance and powerful features.
